:root {
  --color-primary: #0a66c2;
  --color-text: #333;
  --color-background-01: #f6f6f6;
  --box-shadow-p: 0 12px 24px rgba(0, 0, 0, 0.1);
}

/* Header Style */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  box-shadow: var(--box-shadow-p);
}

.logo {
  font-size: 3.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.logo span {
  color: var(--color-primary);
  font-weight: 700;
}

.header_title {
  font-size: 2.4rem;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  color: #fff;
  background: var(--color-primary);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 30000;
}

.navbar {
  position: absolute;
  top: 50%;
  right: 4.5%;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.9);
  font-size: 1.8rem;
  min-width: 30rem;
  border-radius: 0.5rem;
  padding: 3rem;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.navbar.hidden {
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}

.navbar_list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-weight: 500;
}

.navbar_list a:hover {
  color: var(--color-primary);
  padding-left: 1.5rem;
  transform: scale(1.1);
}

/* .navbar {
  flex: 1;
  font-size: 2.2rem;
}

.navbar_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.navbar_list .link:hover,
.navbar_list .link:active {
  color: var(--color-primary);
  transform: scale(1.05);
} */

.form-connection_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.form-connection_input,
.form-connection_submit,
.inscription-btn {
  padding: 1.5rem;
  font-size: 1.6rem;
  outline: none;
  border-radius: 10px;
  background: var(--color-background-01);
  border: 0.1rem solid #777;
}

.form-connection_input {
  /* min-width: 25rem; */
  padding: 1.5rem;
  background: var(--color-background-01);
  font-size: 1.6rem;
  text-transform: lowercase;
  outline: none;
  border-radius: 10px;
  border: 0.1rem solid #777;
}

.form-connection_input::placeholder {
  color: #777;
}

.form-connection_input.data-not-valid {
  border-color: red;
}

.form-connection_submit,
.inscription-btn {
  width: 15rem;
  font-weight: 600;
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
}

.form-connection_submit:hover,
.inscription-btn:hover {
  background: #01488f;
}

/* HERO SECTION */
.section-hero {
  min-height: calc(100vh - 7.6rem);
  background: url(../imgs/hero-background.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: relative;
}

.section-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.section-hero .text {
  z-index: 1;
  text-align: center;
}

.section-hero .text .title {
  font-size: 7.2rem;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10rem;
}

.search_form input {
  padding: 2rem 1.5rem 2rem 3rem;
  font-size: 2.4rem;
  color: inherit;
  font-family: inherit;
  background: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 1rem;
  max-width: 35rem;
}

.search_form input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.search_form button {
  font-size: 2rem;
  font-size: 3.6rem;
  background: transparent;
  color: #fff;
  margin-left: -5rem;
  border: none;
}

/* JOBS SECTION */
.jobs {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.job {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: var(--box-shadow-p);
}

.job_society,
.job_wages,
.job_working_time {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

.job_title {
  font-size: 3.8rem;
  font-weight: 600;
}

.job_description {
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 2.5rem 0;
}

.job .btns-job {
  margin-left: auto;
}

.job .btn {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}

.btn_apply {
  color: #fff;
  border: none;
  background: var(--color-primary);
  margin-right: 2rem;
}

.btn_learn-more {
  background: #fff;
  color: var(--color-primary);
  border: 0.1rem solid var(--color-primary);
}

.btn_apply:hover {
  background: #01488f;
}

/* APPLY modal */
.apply-modal,
.inscription-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply-modal.hidden,
.inscription-modal.hidden {
  opacity: 0;
  z-index: -100;
}

.form_apply,
.form_inscription {
  padding: 4rem;
  background: #fff;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  position: relative;
}

.form_apply .close-btn,
.form_inscription .close-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3.6rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.item.job_item,
.form_apply .textarea {
  grid-column: span 2;
}

.item.job_item * {
  width: 100%;
}

.item label {
  font-size: 2.4rem;
}

.item input,
.item select {
  font-size: 1.8rem;
  padding: 1.5rem;
  outline: none;
  border: 0.15rem solid #ddd;
  border-radius: 0.2rem;
}

.form_apply textarea {
  width: 100%;
  padding: 1.5rem;
  outline: none;
  border: 0.15rem solid #ddd;
}

.item input:focus,
.form_apply textarea:focus {
  border-color: var(--color-primary);
}

.form_apply button[type='submit'],
.form_inscription button[type='submit'] {
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
  /* width: 60%; */
  border: none;
  outline: none;
  color: #fff;
  background: var(--color-primary);
  border-radius: 0.5rem;
  cursor: pointer;
}

.footer {
  padding: 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  background: #ddd;
  color: #777;
  grid-column: span 2;
}

/* INSCRIPTION MODAL */
.form_inscription h3 {
  grid-column: span 2;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 2.5rem;
  color: var(--color-primary);
}

/*
.dark_main {
  background-color: #3f3f3f;
}

.dark_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  box-shadow: var(--box-shadow-p);
  background-color: #333;
  color: white;
}

.logo {
  font-size: 3.6rem;
  font-weight: 500;
}

.logo span {
  color: var(--color-primary);
  font-weight: 700;
}

.navbar {
  flex: 1;
  font-size: 2.4rem;
}

.navbar_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.dark_jobs {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #3f3f3f;
  color: white;
}

.dark_job {
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 2.5rem;
  padding: 4rem;
  box-shadow: var(--box-shadow-p);
  border-radius: 0.5rem;
  border-color: white;
  background-color: black;
  color: white;
}

.job_image {
  grid-row: 3 span;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100px;
  height: 100px;
  background: #555;
  border-radius: 50%;
}

.job_title {
  font-size: 2.8rem;
  font-weight: 600;
}

.job_description {
  font-size: 1.8rem;
  line-height: 1.4;
}

.btn {
  padding: 1.5rem 3rem;
  background: var(--color-primary);
  color: #fff;
  font-size: 1.6rem;
  border-radius: 100px;
  justify-self: end;
  cursor: pointer;
}
*/
